* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 1.1rem;
}

#share-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#share-btn:focus,
#share-btn:active {
  outline: none;
}

section {
  margin-top: 50px;
  padding: 1.5rem 1rem;
}

footer {
  padding: 0 1rem 1.5rem 1rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 20px;
  border-radius: 50rem;
  font-size: 0.9rem;
  -webkit-appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[name="fullName"] {
  background-image: url(../img/icons/person.svg);
}

input[name="address"] {
  background-image: url(../img/icons/location.svg);
}

.form-control:focus {
  outline: 0;
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.send-btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.9rem 1rem 0.9rem 1.25rem;
  border: 1px solid #007bff;
  border-radius: 50rem;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  font-size: 0.9rem;
  transition: color .15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.send-btn:focus {
  outline: 0;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.send-btn * {
  vertical-align: middle;
}

.send-btn span {
  margin-right: 1.2rem;
}

.list-group {
  margin-bottom: 1rem;
  list-style: none;
}

.list-group li img {
  width: 40px;
  min-width: 40px;
  margin-right: 0.5rem;
}

.list-group li label {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.5rem;
  border: 1px solid transparent;
  font-size: 0.95rem;
  cursor: pointer;
}

.list-group li input {
  margin-right: 1rem;
  display: none;
}

.list-group li input[type=radio]:checked+label {
  background-color: rgba(0, 123, 255, 0.15);
  border-radius: 0.25rem;
  border-color: #a8d2ff;
  box-shadow: 0 0 0.5rem rgba(38, 143, 255, 0.2);
}

.list-group .label-title {
  display: block;
  margin-bottom: 0.25rem;
  color: #007bff;
  font-weight: 600;
}

.text-center {
  text-align: center !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.text-muted {
  color: #6c757d !important;
}